<div class="container-fluid" ng-app="discussCourse">
  <div ng-controller="coursePostsController">

    {{ data | json }}

    <div class="row">
      <div class="col-sm-3">
        <button class="btn btn-default margin-bottom-20 text-center col-sm-offset-2 col-sm-8" ng-click="createThread()"><%= I18n.t("course.discuss.add_question") %></button>


        <input class="form-input col-sm-11 margin-bottom-10" type="text" ng-model="topicList.content" placeholder="<%=I18n.t("course.discuss.search")%>"></input>

        <ul class="list-group col-sm-12" style="height:415px; overflow-y: auto;">
          <li ng-repeat="topic in topics | filter:topicList" class="list-group-item" ng-click="changeTopic(topic.id, topic.content)">
            {{ topic.content }}
          </li>
        </ul>
      </div>

      <div class="col-sm-9" ng-show="!current.selected">
        <div class="margin-bottom-50"></div>
        <div class="text-info info-pomperek text-center">
          <%= I18n.t("course.discuss.no_topic_selected") %>
        </div>
      </div>

      <div class="col-sm-9" ng-show="current.selected">
        <div class="col-sm-10 col-sm-offset-1">

          <div class="margin-bottom-20 text-center col-sm-12">
            <b> {{ current.title }} </b>
          </div>
        
          <div class="margin-bottom-50">
            <div ng-repeat="post in current.conversation" class="col-sm-12 margin-bottom-20">
              <span class="glyphicon glyphicon-comment col-sm-1" aria-hidden="true"></span>

              <div class="col-sm-11 row">
                <i>
                  <span>
                    {{ post.author }} <%= I18n.t("course.discuss.commented_on")%> {{post.created_at}}
                  </span>
                </i>
                <br />
                {{ post.content }}
              </div>

            </div>
          </div>

          <textarea rows="4" cols="50" ng-model="newPostText" class="col-sm-12 margin-bottom-10" placeholder="<%=I18n.t("course.discuss.new_post_helper")%>" > </textarea>

          <button ng-click="submitNewPost()" class="btn btn-success col-sm-3 col-sm-offset-4">
            <%= I18n.t("course.discuss.new_post") %>
          </button>

        </div>
      </div>
    </div>
  </div>
</div>